.DS_Store
ios/purchases-common-build
ios/PurchasesHybridCommon/Pods/
*.bck
fastlane/report.xml
.build
**/xcuserdata/

android/.composite-enable
android/caches/
android/daemon/
android/wrapper/
android/native

*.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/caches/**
.gradle/

fastlane/.env
.bundle/
vendor/
