# For a detailed guide to building and testing on iOS, read the docs:
# https://circleci.com/docs/2.0/testing-ios/

version: 2.1

aliases:
  release-tags: &release-tags
    filters:
      tags:
        only: /^(\d+\.)(\d+\.)(\d+)$/
      branches:
        ignore: /.*/
  release-branches: &release-branches
    filters:
      tags:
        ignore: /.*/
      branches:
        only: /^release\/.*/

orbs:
  android: circleci/android@1.0.3
  revenuecat: revenuecat/sdks-common-config@1.1.0
  macos: circleci/macos@2.0.1

parameters:
  action:
    type: enum
    enum: [ build, dependency-update, bump ]
    default: build

executors:
  ios-executor:
    resource_class: macos.x86.medium.gen2
    working_directory: ~/ios
    macos:
      xcode: 14.1.0
  ios-executor-xcode-13:
    resource_class: macos.x86.medium.gen2
    working_directory: ~/ios
    macos:
      xcode: 13.4.1
  ios-executor-xcode-13-2:
    resource_class: macos.x86.medium.gen2
    working_directory: ~/ios
    macos:
      xcode: 13.2.1

commands:
  setup-git-credentials:
     steps:
       - run:
           name: Setup Git config
           command: |
             git config user.email $GIT_EMAIL
             git config user.name $GIT_USERNAME

  trust-github-key:
    steps:
      - run:
          name: Trust GitHub key
          command: |
              for ip in $(dig @8.8.8.8 github.com +short); \
              do ssh-keyscan github.com,$ip; \
              ssh-keyscan $ip; \
              done 2>/dev/null >> ~/.ssh/known_hosts

  install-gems:
    steps:
      - restore_cache:
          key: v3-gem-cache-{{ checksum "Gemfile.lock" }}
      - run: 
          name: Bundle install
          command: bundle install --clean --path vendor/bundle
      - save_cache:
          key: v3-gem-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

  run-ios-tests:
    steps:
      - checkout
      - run:
          name: Install pods
          command: pod install --repo-update
          working_directory: ios/PurchasesHybridCommon
      - run:
          name: Run ios tests
          command: fastlane scan
          working_directory: ios/PurchasesHybridCommon
          environment:
            SCAN_SCHEME: PurchasesHybridCommon
      - run:
          name: Run pod lint tests
          # TODO: re-enable watchOS when https://github.com/CocoaPods/CocoaPods/issues/11558 is fixed
          command: pod lib lint --fail-fast --platforms=ios,osx,tvos
      - store_test_results:
          path: ios/PurchasesHybridCommon/test_output
      - store_artifacts:
          path: ios/PurchasesHybridCommon/test_output
          destination: scan-output

jobs:
  test-ios:
    executor: ios-executor
    steps:
      - run-ios-tests

  test-xcode-13-2:
    executor: ios-executor-xcode-13-2
    steps:
      - run-ios-tests

  integration-test-ios:
    executor: ios-executor
    steps:
      - checkout
      - install-gems
      - run:
          name: Install pods
          command: pod install
          working_directory: ios/PurchasesHybridCommon
      - run:
          name: Update API key
          command: bundle exec fastlane ios replace_api_key_integration_tests
      - run:
          name: Run ios tests
          command: bundle exec fastlane scan --result_bundle=true --testplan=CI
          working_directory: ios/PurchasesHybridCommon
          environment:
            SCAN_SCHEME: PurchasesHybridCommonIntegrationTests
      - run:
          name: Compress result bundle
          command: |
             tar -czf test_output/xcresult.tar.gz test_output/PurchasesHybridCommonIntegrationTests.xcresult && \
             rm -r test_output/PurchasesHybridCommonIntegrationTests.xcresult
          working_directory: ios/PurchasesHybridCommon
          when: always
      - store_test_results:
          path: ios/PurchasesHybridCommon/test_output
      - store_artifacts:
          path: ios/PurchasesHybridCommon/test_output
          destination: scan-output
  
  deploy-ios:
    # Xcode 14 not supported until https://github.com/CocoaPods/CocoaPods/issues/11558 is fixed.
    executor: ios-executor-xcode-13
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - trust-github-key
      # Bundler
      - restore_cache:
          keys: 
            - v1-gem-cache-{{ checksum "Gemfile.lock" }}
      - run: 
          name: Bundle install
          command: |
              bundle config set --local clean 'true'
              bundle config set --local path 'vendor/bundle'
              bundle install
      - save_cache:
          key: v1-gem-cache-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - run:
          name: Install pods
          command: pod install
          working_directory: ios/PurchasesHybridCommon
      - run:
          name: Deploy new version
          command: bundle exec fastlane ios release
          no_output_timeout: 30m

  test-android:
    executor:
      name: android/android-machine
      resource-class: large
    working_directory: ~/purchases-hybrid-common/android
    steps:
      - checkout:
          path: ~/purchases-hybrid-common
      - revenuecat/prepare-android
      - run:
          name: Run Tests
          command: ./gradlew lint test
      - android/save-build-cache
      - store_artifacts:
          path: build/reports
      - store_test_results:
          path: build/test-results

  deploy-android:
    executor:
      name: android/android-machine
      resource-class: large
    steps:
      - checkout
      - revenuecat/install-rubydocker-dependencies
      - android/accept-licenses
      - restore_cache:
          key: jars-{{ checksum "android/build.gradle" }}
      - android/restore-build-cache
      - run:
          name: Deployment
          command: bundle exec fastlane android deploy

  make-github-release:
    docker:
      - image: cimg/ruby:2.7.2
    steps:
      - checkout
      - attach_workspace:
          at: .
      - revenuecat/install-rubydocker-dependencies
      - run:
          name: Make GitHub release for current version
          command: bundle exec fastlane github_release_current
  
  dependency-update:
    docker:
      - image: cimg/ruby:2.7.2
    steps:
      - checkout
      - attach_workspace:
          at: .
      - setup-git-credentials
      - trust-github-key
      - revenuecat/install-rubydocker-dependencies
      - run:
          name: Update dependencies to latest versions
          command: bundle exec fastlane open_pr_upgrading_dependencies
  
  tag-release-branch:
    docker:
      - image: cimg/ruby:3.1.2
    working_directory: ~/purchases-ios
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - setup-git-credentials
      - trust-github-key
      - revenuecat/install-rubydocker-dependencies
      - run: 
          name: Tag branch
          command: bundle exec fastlane tag_current_branch

  release:
    docker:
      - image: cimg/ruby:3.1.2
    steps:
      - checkout
      - setup-git-credentials
      - trust-github-key
      - revenuecat/install-rubydocker-dependencies
      - run:
          name: Automatically bump release and create release PR
          command: bundle exec fastlane automatic_bump github_rate_limit:10

  trigger-dependent-updates:
    docker:
      - image: cimg/ruby:3.1.2
    steps:
      - checkout
      - setup-git-credentials
      - trust-github-key
      - revenuecat/install-rubydocker-dependencies
      - run:
          name: Kick off Flutter automatic dependency update
          command: bundle exec fastlane bump_hybrid_dependencies repo_name:purchases-flutter
          when: always
      - run:
          name: Kick off React Native automatic dependency update
          command: bundle exec fastlane bump_hybrid_dependencies repo_name:react-native-purchases
          when: always
      - run:
          name: Kick off Cordova automatic dependency update
          command: bundle exec fastlane bump_hybrid_dependencies repo_name:cordova-plugin-purchases
          when: always

workflows:
  version: 2
  test:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - test-ios
      - test-xcode-13-2
      - integration-test-ios
      - test-android

  deploy:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - hold:
          type: approval
          <<: *release-branches
      - tag-release-branch:
          requires:
            - hold
          <<: *release-branches
      - deploy-ios:
          <<: *release-tags
      - deploy-android:
          <<: *release-tags
      - make-github-release:
          <<: *release-tags
          requires:
            - deploy-ios
            - deploy-android
      - trigger-dependent-updates:
          <<: *release-tags
          requires:
            - make-github-release
  
  weekly-run-workflow:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "update-native-dependencies", << pipeline.schedule.name >> ]
    jobs:
      - dependency-update 

  trigger-dependency-update:
    when:
      equal: [ dependency-update, << pipeline.parameters.action >> ]
    jobs:
      - dependency-update

  danger:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - revenuecat/danger

  automatic-release:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      - release:
          filters:
            tags:
              ignore: /.*/
            branches:
              only: main

  trigger-bump:
    when:
      equal: [ bump, << pipeline.parameters.action >> ]
    jobs:
      - release
